.media-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(36, 15, 56, 1) 100%
  ); */
}

button {
  font-size: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  font-family: inherit;
  background-color: white;
  color: gray;
  cursor: pointer;
}

.player-detail {
  flex: 1;
}