
.player-list {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

@media only screen and (min-width: 700px) {
  .player-list {
    display: flex;
    flex-direction: row;
  }
  .list-content {
    flex: auto;
  } 
}

button {
  font-size: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  font-family: inherit;
  background-color: white;
  color: gray;
  cursor: pointer;
}
