
.player-list {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

@media only screen and (min-width: 700px) {
  .player-list {
    display: flex;
    flex-direction: row;
  }
  .list-content {
    flex: auto;
  } 
}
