.home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63, 94, 251);
    background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(36, 15, 56, 1) 100%
  );
}

.home img {
    height: 120px;
    width: 140px;
    cursor: pointer;
}    

  