.app {
  display: flex;
  min-height: 99vh;
  flex-direction: column;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(36, 15, 56, 1) 100%
  );
}
