.header {
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.header img {
  height: 50px;
  width: 50px;
}
.header__search {
  width: 100%;
}
.header__search i {
  position: absolute;
  color: white;
  margin: 28px 0 0 30px;
  cursor: pointer;
}
.header__search_icon_animate {
  position: absolute;
  color: white;
  animation-name: searchIcon;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.header input {
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  padding: 8px;
  background: rgb(15, 21, 44);
  color: white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  font-size: 25px;
  width: 50%;
  animation-name: searchInput;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 700px) {
  @keyframes searchInput {
    from {
      margin: 10px 0 0 0;
    }
    to {
      margin: 10px 0 0 25%;
    }
  }
  
  @keyframes searchIcon {
    from {
      margin: 28px 0 0 30px;
    }
    to {
      margin: 28px 0 0 25%;color: #2f2f2f;
    }
  }
}
@media only screen and (max-width: 700px) {
  .header input {
    font-size: 15px;
    margin: 10px 0 0 10px;
  }
  .header__search i {
    position: absolute;
    color: white;
    margin-left: 15px;
    margin-top: 20px;
  }
  .header img {
    height: 25px;
    width: 25px;
    margin: 10px 0 0 10px;
  }

  @keyframes searchInput {
    from {
      margin: 10px 0 0 0;
    }
    to {
      margin: 10px 0 0 15%;
    }
  }
  
  @keyframes searchIcon {
    from {
      margin: 20px 0 0 30px;
    }
    to {
      margin: 20px 0 0 15%;color: #2f2f2f;
    }
  }
}
