.msg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  flex: 1;
}
.msg-box__label {
    font-size: 20px;
    padding: 0 20px 0 20px;
}
.msg-box__label--error {
  color: #f04806;
}
