.loading-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}
.loading-content__label {
  color: rgba(244, 247, 247, 0.996);
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 5px;
  border-color: blue;
}

.btn-box {
  padding: 10px;
}

.link-btn {
  color: white;
  font-weight: 700;
  font-family: fantasy;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  border-color: #9d3603;
}

.link-base {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}

.btn-back {
  padding: 10px;
  font-family: fantasy;
  background-color: rgb(0, 0, 0);
}
